{% extends "base.html" %}

{% block content %}

<br>
<h4>
    <center>Линейное уравнение с одной переменной. Решение задач с помощью уравнений.</center>
</h4>

<a href="/theme_choice/type_work/{{theme_id}}" class="btn btn-warning">Вернуться</a><br>

<br>
<div class="alert alert-info" role="alert"><p><span class="math inline">Уравнение вида \(ax = b\),
    где \(x\) – переменная, \(a\) и \(b\) – некоторые числа, называют линейным уравнением с одной переменной.</span>
</p></div>

<div class="alert alert-success" role="alert">
    <p><span class="math inline">Если \(a≠0\), то разделив обе части уравнения \(ax = b\) на \(a\),
        получим \(x=\frac{b}{a}\). Отсюда следует: если \(a≠0\), то уравнение \(ax = b\) имеет
        единственный корень, равный \(\frac{b}{a}\).<br>
        Если \(a=0\), то линейное уравнение принимает вид \(0x=b\). Тогда возможны 2 случая:
        \(b=0\) или \(b≠0\).<br>
        В первом случае получаем уравнение \(0x = 0\). Отсюда: если \(a=0\) и \(b=0\), то уравнение
        \(ax=b\) имеет бесконечно много корней: любое число является его корнем.<br>
        Во втором случае, когда \(b≠0\), при любом значении x получим неверное равенство \(0x=b\).
        Отсюда: если \(a=0\) и \(b≠0\), то уравнение \(ax=b\) не имеет корней.</span>
    </p>
</div>

<div class="alert alert-success" role="alert">
    <p>При решении задач на составление уравнений удобно придерживаться определённой
        последовательности действий:</p>
    <p>&emsp;1. По условию задачи составить уравнение (сконструировать математическую модель
        задачи).</p>
    <p>&emsp;2. Решить полученное уравнение.</p>
    <p>&emsp;3. Выяснить, соответствует ли найденный корень смыслу задачи, и записать
        ответ.</p>
</div>
<div class="alert alert-warning" role="alert">
    <p><span class="math inline">Пример 1:<br>
        &emsp;Рабочий должен был выполнить заказ за 8 дней. Однако, изготавливая ежедневно 12 деталей
        сверх нормы, он уже за 6 дней работы не только выполнил заказ, но и изготовил дополнительно
        22 детали. Сколько деталей ежедневно изготавливал рабочий?<br>
        Решение:<br>
        &emsp;Пусть рабочий изготавливал ежедневно \(x\) деталей. Тогда по плану он должен был
        изготавливать ежедневно \((x – 12)\) деталей, а всего их должно быть изготовлено
        \(8(x–12)\) деталей. На самом деле он изготовил \(6x\) деталей. Так как по условию значение
        выражения \(6х\) на \(22\) больше выражения \(8(x – 12)\), то получаем уравнение
        \(6x–22=8(x–12)\). Тогда:<br>
        &emsp;\(6x-22=8x–96\);<br>
        &emsp;\(6x–8x=-96+22\);<br>
        &emsp;\(-2x=-74\);<br>
        &emsp;\(x=37\);<br>
        &emsp;Ответ: \(37\) деталей.
    </span></p>
</div>

<div class="alert alert-warning" role="alert">
    <p><span class="math inline">Пример 2:<br>
        &emsp;Велосипедист проехал 65 км за 5 ч. Часть пути он ехал со скоростью 10 км/ч, а оставшийся
        путь – со скоростью 15 км/ч. Сколько времени он ехал со скоростью 10 км/ч и сколько – со скоростью 15 км/ч?<br>
        Решение:<br>
        &emsp;Пусть велосипедист ехал \(х\) часов со скоростью \(10\) км/ч. Тогда со скоростью \(15\)
        км/ч он ехал \((5 – x)\) ч. Первая часть пути составляет \(10x\) км, а вторая \(15(5 – x)\)
        ч. Всего велосипедист проехал \(10x+15(5–x)\) км. Поскольку весь пусть составил \(65\) км,
        то получаем уравнение:<br>
        &emsp;\(10x+15(5–x)=65\);<br>
        &emsp;\(10x+75–15x=65\);<br>
        &emsp;\(-5x=-10\);<br>
        &emsp;\(x=2\);<br>
        &emsp;Следовательно, со скоростью \(10\) км/ч он ехал \(2\) ч, а со скоростью \(15\) км/ч – \(3\) ч.<br>
        &emsp;Ответ: \(37\) деталей.
    </span></p>
</div>
<a href="/theme_choice/type_work/{{theme_id}}" class="btn btn-warning">Вернуться</a>
<br><br>
{% endblock %}