{% extends "base.html" %}

{% block content %}

<br>
<h4>
    <center>Тождества. Тождесвенно равные выражения.</center>
</h4>

<a href="/theme_choice/type_work/{{theme_id}}" class="btn btn-warning">Вернуться</a><br>

<br>
<div class="alert alert-info" role="alert">
    <p><span class="math inline">Выражения, соответственные значения которых равны при любых
        значениях входящих в них переменных, называют тождественно равными.</span>
    </p>
</div>

<div class="alert alert-secondary" role="alert">
    <p><span class="math inline">Например, выражения \(2(х–1)–1\) и \(2х-3\) – тождественно равные,
        так как \(2(x-1)-1=2x-2-1=2x-3\). А выражения \(x^5–x\) и \(5x^3–5x\) тождественно равными
        не являются, так как если \(x=3\), то \(x^5-x=3^5-3=240\), а \(5x^3-5x=5*3^3–5*3=120\).
    </span></p>
</div>

<div class="alert alert-warning" role="alert">
    <p><span class="math inline">Примеры пар тождественно равных выражений:<br>
        \(7(a+b)\) и \(7a+7b\);<br>
        \(3x+y\) и \(y+3x\);<br>
        \(a–(b+c)\) и \(a–b–c\).
    </span></p>
</div>

<div class="alert alert-info" role="alert">
    <p><span class="math inline">Равенство, верное при любых значениях входящих в него переменных,
        называют тождеством.</span>
    </p>
</div>

<div class="alert alert-warning" role="alert">
    <p><span class="math inline">Примеры тождеств:<br>
        \(3x+y=y+3x\);<br>
        \(m^2np=nm^2p\);<br>
        \(a-(b+c)=a-b-c\).
    </span></p>
</div>

<div class="alert alert-secondary" role="alert">
    <p><span class="math inline">Найдем значение выражения \(11a-3a+2\) при \(a=\frac{1}{8}\).
        Конечно, можно сразу в это выражение подставить вместо a число \(\frac{1}{8}\) и найти
        значение числового выражения \(11*\frac{1}{8}-3*\frac{1}{8}+2\). Однако, гораздо удобнее
        сначала привести подобные слагаемые, заменив данное выражение на тождественно равное:
        \(8a+2\). При \(a=\frac{1}{8}\) имеем: \(8*\frac{1}{8}+2=3\).
    </span></p>
</div>

<div class="alert alert-success" role="alert">
    <p><span class="math inline">Для того, чтобы доказать, что данное равенство является тождеством, используют такие методы:<br>
        &emsp;1) Тождественно преобразуют одну из частей данного равенства, получая другую часть.<br>
        &emsp;2) Тождественно преобразуют каждую из частей данного равенства, получая одно и то же выражение.<br>
        &emsp;3) Доказывают, что разность левой и правой частей данного равенства тождественно равна нулю.<br>
        Чтобы доказать, что равенство не является тождеством, достаточно привести контрпример: указать
        такое значение переменной (переменных, если их несколько), при котором данное равенство не выполняется.
    </span></p>
</div>

<div class="alert alert-success" role="alert">
    <p><span class="math inline">Для того, чтобы доказать, что данное равенство является тождеством, используют такие методы:<br>
        &emsp;1) Тождественно преобразуют одну из частей данного равенства, получая другую часть.<br>
        &emsp;2) Тождественно преобразуют каждую из частей данного равенства, получая одно и то же выражение.<br>
        &emsp;3) Доказывают, что разность левой и правой частей данного равенства тождественно равна нулю.<br>
        Чтобы доказать, что равенство не является тождеством, достаточно привести контрпример: указать
        такое значение переменной (переменных, если их несколько), при котором данное равенство не выполняется.
    </span></p>
</div>

<a href="/theme_choice/type_work/{{theme_id}}" class="btn btn-warning">Вернуться</a>
<br><br>
{% endblock %}