{% extends "base.html" %}

{% block content %}

<br><a href="/theme_choice/type_work/{{tasks[0].theme_id}}" class="btn btn-secondary">Вернуться</a><br>

{% for item in tasks %}
    {% if item.id in good_tasks %}
        <br>
        <a class="btn btn-success" href="task/{{item.id}}"> {{item.title}} </a>
        <br>
    {% elif item.id in wrong_tasks %}
        <br>
        <a class="btn btn-danger" href="task/{{item.id}}"> {{item.title}} </a>
        <br>
    {% else %}
        <br>
        <a class="btn btn-warning" href="task/{{item.id}}"> {{item.title}} </a>
        <br>
    {% endif %}
{% endfor %}

<br><a href="/theme_choice/type_work/{{tasks[0].theme_id}}" class="btn btn-secondary">Вернуться</a><br><br>

{% endblock %}