{% extends "base.html" %}

{% block content %}

<br><a href="/theme_choice/type_work/tasks/task/{{task.id}}" class="btn btn-secondary">Вернуться</a>
<br>
<br>

<div class="alert alert-secondary" role="alert">
    <span class="math inline">
        <p>1) \(a^4a^3=a^{(4+3)}=a^7\) (показатели складываются, а не перемножаются);<br>
            2) \(a*a=a^2\) (надо сложить показатели);<br>
            3) \((a^3)^2=a^6\) (в этом случае показатели надо перемножить, а не возвести один в степень другого);<br>
            4) \(3^2*5^2=(3*5)^2=15^2\) (показатели не надо перемножать);<br>
            5) \(2^2*7^3\) (нельзя применять ни одну из данных теорем, так как разные, и показатели, и основания степеней);<br>
            6) \((2a)^4=2^4a^4=16a^4\) (2 надо возвести в степень, а не умножить на показатель);<br>
            7) \(3*4^3\) (нельзя применять ни одну из данных теорем, так как разные, и показатели, и основания степеней);<br>
            8) \(a^7b^7=(ab)^7\) (показатели складывать не надо);<br>
            9) \(a^3b^2\) (нельзя применять ни одну из данных теорем, так как разные, и показатели, и основания степеней).
        </p>
    </span>
</div>

<a href="/theme_choice/type_work/tasks/solves/{{task.id}}/1" class="btn btn-success">Верно</a>
<a href="/theme_choice/type_work/tasks/solves/{{task.id}}/0" class="btn btn-danger">Не верно</a>
<br><br>
{% endblock %}