{% extends "base.html" %}

{% block content %}

<br><a href="/theme_choice/type_work/tasks/task/{{task.id}}" class="btn btn-secondary">Вернуться</a>
<br>
<br>

<div class="alert alert-secondary" role="alert">
    <span class="math inline">
        <p>1) \(17^8=(17^4)^2\). Это число заканчивается на \(1\). Тогда \(17^18+19\) заканчивается
            на \(0\), значит делится на \(10\);<br>
            2) \(64^64=(64^2)^{32}\). \(64^4\) заканчивается на \(6\), тогда \(64^{64}\) тоже
            заканчивается на \(6\). \(64^{64}–1\) заканчивается на \(5\), а значит делится на \(5\);<br>
            3) \(3^{4n}=(3^4)^n=81^n\), значит \(81^n\) оканчивается на \(1\) и \(3^{4n}\) тоже
            заканчивается на \(1\). Тогда \(3^{4n}+14\) заканчивается на \(5\), тогда это число делится на \(5\).
        </p>
    </span>
</div>

<a href="/theme_choice/type_work/tasks/solves/{{task.id}}/1" class="btn btn-success">Верно</a>
<a href="/theme_choice/type_work/tasks/solves/{{task.id}}/0" class="btn btn-danger">Не верно</a>
<br><br>
{% endblock %}