{% extends "base.html" %}

{% block content %}

<br><a href="/theme_choice/type_work/tasks/task/{{task.id}}" class="btn btn-secondary">Вернуться</a>
<br>
<br>

<div class="alert alert-secondary" role="alert">
    <span class="math inline">
        <p> Решение:<br>
            &emsp;1) Пусть первое число из данных пяти это \(a\), тогда следующие числа это: \((a+1); (a+2); (a+3); (a+4)\). Рассмотрим их сумму:<br>
            &emsp;&emsp;\(a+(a+1)+(a+2)+(a+3)+(a+4)=5a+10=5(a+2)\).<br>
            &emsp;&emsp;Это число очевидно делится на 5, а значит и сумма точно делится на 5.<br>
            &emsp;2) Пусть первое число – это \(2a\) (т.к. оно четное, его можно так представить). Тогда следующие четные числа будут равны \(2a+2\) и \(2a+4\). <br>
            &emsp;&emsp;Также рассмотрим сумму этих чисел: \(2a+(2a+2)+(2a+4)=6a+6=6(a+1)\). <br>
            &emsp;&emsp;Аналогично первому случаю получаем сумму, которая делится на \(6\).<br>
            &emsp;3) Заметим, что нечетное число можно представить как \(2a+1\). Тогда данные числа можно представить как \(2a+1; 2a+3; 2a+5; 2a+7\). Рассмотрим их сумму:<br>
            &emsp;&emsp;\((2a+1)+(2a+3)+(2a+5)+(2a+7)=8a+16=8(a+2)\)<br>
            &emsp;&emsp;Аналогично, это число делится на 8.<br>
            &emsp;4) Пусть данные числа это \(a; (a+1); (a+2); (a+3)\). Рассмотрим их сумму:<br>
            &emsp;&emsp;\(a+(a+1)+(a+2)+(a+3)=4a+6\).<br>
            &emsp;&emsp;Так как \(4a\) делится на \(4\), а \(6\) – нет, то и сумма не делится на \(4\).<br>
            &emsp;5) Рассмотрим 6 чисел: \(a; (a+1); (a+2); (a+3); (a+4); (a+5)\) и их сумму:<br>
            &emsp;&emsp;\(a+(a+1)+(a+2)+(a+3)+(a+4)+(a+5)=6a+12+3\)<br>
            &emsp;&emsp;\(2\) слагаемых делятся на \(6\), а третье дает остаток \(3\) при делении на \(6\), значит и вся сумма дает остаток \(3\) при делении на \(6\).
        </p>
    </span>
</div>

<a href="/theme_choice/type_work/tasks/solves/{{task.id}}/1" class="btn btn-success">Верно</a>
<a href="/theme_choice/type_work/tasks/solves/{{task.id}}/0" class="btn btn-danger">Не верно</a>
<br><br>
{% endblock %}