{% extends "base.html" %}

{% block content %}

<br><a href="/theme_choice/type_work/tasks/task/{{task.id}}" class="btn btn-warning">Вернуться</a>
<br><br>

<div class="alert alert-secondary" role="alert">
    <p><span class="math inline">1) Заметим, что если уравнение \(ax=b\) имеет 1 корень, то он равен \(\frac{b}{a}\). Тогда \(\frac{b}{a}=-4\). Например \(b=4\) и \(a=-1\), тогда получаем уравнение \(-x=4\).</span>
    </p>
    <p><span class="math inline">2) Заметим, что если уравнение \(ax=b\) имеет бесконечно много корней, то \(a=0\) и \(b=0\). Тогда получаем уравнение \(0x=0\).</span>
    </p>
    <p><span class="math inline">3) Заметим, что если уравнение \(ax=b\) не имеет корней, то \(a=0\) и \(b≠0\). Например, \(b=1\). Тогда получаем уравнение \(0x=1\).</span>
    </p>
</div>

<a href="/theme_choice/type_work/tasks/{{task.theme_id}}" class="btn btn-success">Верно</a>
<a href="/theme_choice/type_work/tasks/{{task.theme_id}}" class="btn btn-danger">Не верно</a>

{% endblock %}