{% extends "base.html" %}

{% block content %}

<br><a href="/theme_choice/type_work/tasks/task/{{task.id}}" class="btn btn-warning">Вернуться</a><br>

<p><span class="math inline">1) Рассмотрим 4 случая:</span></p>
<p><span class="math inline">&emsp;а) \(|x|-3\ge0\) и \(x\ge0\). Тогда мы имеем уравнение \(x-3=5\). Тогда \(x=8\) и проверив, убеждаемся что этот корень подходит.</span></p>
<p><span class="math inline">&emsp;б) \(|x|-3\lt0\) и \(x\ge0\). В этом случае получаем \(3-x=5\) и \(x=-2\). Но этот корень не подходит условию \(x\ge0\).</span></p>
<p><span class="math inline">&emsp;в) \(|x|-3\ge0\) и \(x\lt0\). Теперь имеем \(-x-3=5\), откуда \(x=-8\).</span></p>
<p><span class="math inline">&emsp;г) \(|x|-3\lt0\) и \(x\lt0\). В последнем случае \(3+x=5\) и \(x=2\), что не подходит под второе условие.</span></p>
<p><span class="math inline">&emsp;Таким образом, в первом уравнении есть корни 8 и -8.</span></p>
<br>

<p><span class="math inline">2) \(\frac{4x^2+5x}{14}+\frac{10-2x^2}{7}=5\);</span></p>
<p><span class="math inline">&emsp;\(\frac{4x^2+5x}{14}+\frac{20-4x^2}{14}=5\);</span></p>
<p><span class="math inline">&emsp;\(\frac{4x^2+5x+20-4x^2}{14}=5\);</span></p>
<p><span class="math inline">&emsp;\(\frac{5x+20}{14}=5\);</span></p>
<p><span class="math inline">&emsp;\(5x+20=70\);</span></p>
<p><span class="math inline">&emsp;\(5x=50\);</span></p>
<p><span class="math inline">&emsp;\(x=10\).</span></p>
<br>

<p><span class="math inline">3) \(\frac{x}{7}+\frac{3x-1}{14}=\frac{x}{3}\);</span></p>
<p><span class="math inline">&emsp;\(\frac{6x}{42}+\frac{9x-3}{42}=\frac{14x}{42}\);</span></p>
<p><span class="math inline">&emsp;\(6x+9x-3=14x\);</span></p>
<p><span class="math inline">&emsp;\(15x=14x+3\);</span></p>
<p><span class="math inline">&emsp;\(x=3\).</span></p>

<br><a href="/theme_choice/type_work/tasks/{{task.theme_id}}" class="btn btn-success">Верно</a>
<a href="/theme_choice/type_work/tasks/{{task.theme_id}}" class="btn btn-danger">Не верно</a><br>
<br>
{% endblock %}