{% extends "base.html" %}

{% block content %}

<br><a href="/theme_choice/type_work/tasks/task/{{task.id}}" class="btn btn-secondary">Вернуться</a>
<br>
<br>

<div class="alert alert-secondary" role="alert">
    <p><span class="math inline">1) Обозначим за \(x\) - количество однокомнатных квартир, тогда \(2x\) - количество двухкомнатных квартир, а \(x+24\) - количество трёхкомнатных квартир. Получаем, что всего квартир \(x+2x+x+24\), что по условию равно 160.</span>
    </p>
    <p><span class="math inline">&emsp;Таким образом, получаем уравнение \(4x+24=160\);</span></p>
    <p><span class="math inline">&emsp;&emsp;\(4x=136\);</span></p>
    <p><span class="math inline">&emsp;&emsp;\(x=34\).</span></p>
    <p><span class="math inline">&emsp;Получили, что всего 34 однокомнатные квартиры. Тогда двухкомнатных квартир будет 68, а трёхкомнатных 58.</span>
    </p>
    <p><span class="math inline">&emsp;Ответ: 34, 68, 58.</span></p>
</div>

<div class="alert alert-secondary" role="alert">
    <p><span class="math inline">2) Обозначим за \(x\) кг - яблок в каждом маленьком ящике, тогда \(x+6\) кг - яблок в каждом большом ящике. Получаем, что всего яблок было \(8x+6(x+6)\). По условию всего яблок 232 кг.</span>
    </p>
    <p><span class="math inline">&emsp;Таким образом, получаем уравнение \(8x+6(x+6)=232\);</span>
    </p>
    <p><span class="math inline">&emsp;&emsp;\(8x+6x+36=232\);</span></p>
    <p><span class="math inline">&emsp;&emsp;\(14x=196\);</span></p>
    <p><span class="math inline">&emsp;&emsp;\(x=14\).</span></p>
    <p><span class="math inline">&emsp;Получили, что всего 14 кг яблок лежит в каждом мальнком ящике, а значит в каждом большом лежит по \(14+6=20\) яблок.</span>
    </p>
    <p><span class="math inline">&emsp;Ответ: 14, 20.</span></p>
</div>

<a href="/theme_choice/type_work/tasks/solves/{{task.id}}/1" class="btn btn-success">Верно</a>
<a href="/theme_choice/type_work/tasks/solves/{{task.id}}/0" class="btn btn-danger">Не верно</a>
<br><br>
{% endblock %}