{% extends "base.html" %}

{% block content %}

<br><a href="/theme_choice/type_work/tasks/{{task.theme_id}}" class="btn btn-secondary">Вернуться</a>
<br><br>

<div class="alert alert-secondary" role="alert">
    <h4>Решите уравнение:</h4>
    <h5><span class="math inline">&emsp;\(18-16x=-30x-10\)</span>;</h5>
    <h5><span class="math inline">\(\frac{14}{23}\)</span></h5>
    <h5><span class="math inline">\(-2\)</span></h5><!--correct-->
    <h5><span class="math inline">\(-\frac{14}{23}\)</span></h5>
    <h5><span class="math inline">\(2\)</span></h5>
</div>


<a href="/theme_choice/type_work/tasks/{{task.theme_id}}" class="btn btn-warning">Ответить</a><br>

{% endblock %}