{% extends "base.html" %}

{% block content %}

<br><a href="/theme_choice/type_work/tasks/{{task.theme_id}}" class="btn btn-secondary">Вернуться</a>
<br><br>

<div class="alert alert-secondary" role="alert">
    <p>Является ли тождеством выражение</p>
    <p><span class="math inline">&emsp;\(8(a-b+c)=8a-8b+8c\)</span>?</p>
    <p><span class="math inline">Да.</span></p> <!--correct-->
    <p><span class="math inline">Нет.</span></p>
    <p><span class="math inline">Невозможно оперделить.</span></p>
    <p><span class="math inline">Я не знаю.</span></p>
</div>

<a href="/theme_choice/type_work/tasks/{{task.theme_id}}" class="btn btn-warning">Ответить</a><br>

{% endblock %}