{% extends "base.html" %}

{% block content %}

<br><a href="/theme_choice/type_work/tasks/{{task.theme_id}}" class="btn btn-secondary">Вернуться</a>
<br><br>

<div class="alert alert-secondary" role="alert">
    <span class="math inline">
        <p>Докажите, что значение выражения:<br>
            &emsp;1) \(10^{100}+8\) делится нацело на \(9\)<br>
            &emsp;2) \(111^n–6\) делится нацело на \(5\) при любом натуральном значении \(n\).
        </p>
    </span>
</div>

<a href="/theme_choice/type_work/tasks/solves/{{task.id}}" class="btn btn-warning">Проверить</a><br>

{% endblock %}