{% extends "base.html" %}

{% block content %}

<br><a href="/theme_choice/type_work/tasks/{{task.theme_id}}" class="btn btn-secondary">Вернуться</a>
<br><br>

<div class="alert alert-secondary" role="alert">
    <span class="math inline">
        <p>Преобразуйте в одночлен стандартного вида выражение:<br>
            1) \((3a^2b)^2\) <br>
            2) \((-0.2x^3y^4)^3\) <br>
            3) \((-10m^2y^8)^5\) <br>
            4) \((16x^6y^7z^8)^2\) <br>
            5) \((-\frac{1}{5}c^6d)^4\) <br>
            6) \((1\frac{1}{2}a^8b^9)^6\)
        </p>
    </span>
</div>

<a href="/theme_choice/type_work/tasks/solves/{{task.id}}" class="btn btn-warning">Проверить</a><br>

{% endblock %}