{% extends "base.html" %}

{% block content %}

<br><a href="/theme_choice/type_work/tasks/{{task.theme_id}}" class="btn btn-secondary">Вернуться</a>
<br><br>

<div class="alert alert-secondary" role="alert">
    <span class="math inline"><p>Преобразуйте многочлен в многочлен стандартного вида. Укажите его степень:<br>
        &emsp;1) \(4b^2+a^2+9ab-18b^2-9ab\)<br>
        &emsp;2) \(8m^3-13mn-9n^2-8m^3-2mn\)<br>
        &emsp;3) \(2a^2b-7ab^2-3a^2b+2ab^2\)<br>
        &emsp;4) \(0.9c^4+1.1c^2+c^4-0.6c^2\)<br>
        &emsp;5) \(3x^2+6-5-x^2-10x+3\)<br>
        &emsp;6) \(b^3-3bc+3b^3+8bc-4b^3\)
    </span></p>
</div>

<a href="/theme_choice/type_work/tasks/solves/{{task.id}}" class="btn btn-warning">Проверить</a><br>

{% endblock %}