{% extends "base.html" %}

{% block content %}

<br><a href="/theme_choice/type_work/tasks/{{task.theme_id}}" class="btn btn-warning">Вернуться</a><br>

<br><h4>Решите уравнение:</h4>
<h5><span class="math inline">\(0.2x+3.4x=0.6x-2.6\)</span>;</h5>
<h5><span class="math inline">\(-15\)</span></h5>
<h5><span class="math inline">\(-2\)</span></h5>
<h5><span class="math inline">\(2\)</span></h5>
<h5><span class="math inline">\(15\)</span></h5><!--correct-->

<a href="/theme_choice/type_work/tasks/{{task.theme_id}}" class="btn btn-warning">Ответить</a><br>

{% endblock %}