{% extends "base.html" %}

{% block content %}

<br><a href="/theme_choice/type_work/tasks/{{task.theme_id}}" class="btn btn-warning">Вернуться</a><br>

<br><h4>Решите уравнение:</h4>
<h5><span class="math inline">\(\frac{5}{6}x+12=\frac{7}{12}x+8\)</span>;</h5>
<h5><span class="math inline">\(80\)</span></h5>
<h5><span class="math inline">\(16\)</span></h5>
<h5><span class="math inline">\(-16\)</span></h5> <!--correct-->
<h5><span class="math inline">\(-80\)</span></h5>

<a href="/theme_choice/type_work/tasks/{{task.theme_id}}" class="btn btn-warning">Ответить</a><br>

{% endblock %}