{% extends "base.html" %}

{% block content %}

<br><a href="/theme_choice/type_work/tasks/{{task.theme_id}}" class="btn btn-warning">Вернуться</a>
<br>

<br><h4>Килограмм огурцов на 4р. дешевле килограмма помидоров. Сколько стоит 1 кг помидоров, если за
    3.2 кг помидоров заплатили столько же, сколько за 3.6 кг огурцов?</h4>
<h5><span class="math inline">\(32\)</span></h5>
<h5><span class="math inline">\(36\)</span></h5><!--correct-->
<h5><span class="math inline">\(4\)</span></h5>
<h5><span class="math inline">\(16\)</span></h5>

<a href="/theme_choice/type_work/tasks/{{task.theme_id}}" class="btn btn-warning">Ответить</a><br>

{% endblock %}