{% extends "base.html" %}

{% block content %}

<br><a href="/theme_choice/type_work/tasks/{{task.theme_id}}" class="btn btn-warning">Вернуться</a>
<br><br>

<div class="alert alert-secondary" role="alert">
    <p>Килограмм огурцов на 4р. дешевле килограмма помидоров. Сколько стоит 1 кг помидоров, если за
        3.2 кг помидоров заплатили столько же, сколько за 3.6 кг огурцов?</p>
    <p><span class="math inline">\(32\)</span></p>
    <p><span class="math inline">\(36\)</span></p><!--correct-->
    <p><span class="math inline">\(4\)</span></p>
    <p><span class="math inline">\(16\)</span></p>
</div>

<a href="/theme_choice/type_work/tasks/{{task.theme_id}}" class="btn btn-warning">Ответить</a><br>

{% endblock %}