{% extends "base.html" %}

{% block content %}

<br><a href="/theme_choice/type_work/tasks/{{task.theme_id}}" class="btn btn-secondary">Вернуться</a>
<br><br>

<div class="alert alert-secondary" role="alert">
    <p>Из двух городов, расстояние между которыми равно 385км, выехали навстречу друг другу
        легковой и грузовой автомобили. Легковой ехал со скоростью 80 км/ч, а грузового - 50 км/ч.
        Сколько
        времени ехал до встречи каждый из них, если грузовой автомобиль выехал на 4 ч позже
        легкового?</p>
    <p>Рабочий планировал ежедневно изготавливать по 20 деталей, чтобы вовремя выполнить
        производственное задание. Но он изготавливал каждый день на 8 деталей больше, чем
        планировал, и
        уже за 2 дня до окончния работы он изготовил 8 деталей сверх плана. Сколько дней рабочий
        планировал выполнять задание?</p>
</div>

<a href="/theme_choice/type_work/tasks/solves/{{task.id}}" class="btn btn-warning">Проверить</a><br>

{% endblock %}